<% provide(:title, 'All users') %>
<h1>All users</h1>

<%= will_paginate %>

<%= form_for @user_form, url: users_path, method: :get do |f| %>
  <%= f.text_field :name %>
  <%= f.submit "Serach", class: "btn btn-primary" %>
<% end %>

<ul class="users">
  <%= render @users %>
</ul>

<%= will_paginate %>
